/*AboutTheTeam1*/

.AboutTheTeam1 {
    padding: 20px;
    text-align: center;
    background-color: #9cecef;
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.6),
            rgba(0,0,0,0.1)
    );
}
  
.team-designer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
  
.team-designer > div {
    width: calc(50% - 10px);
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
  
.team-designer h2 {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    width: 100%;
    text-align: center;
}

/*AboutTheTeam1*/
@media (min-width: 810px) {

    /*AboutTheteam*/

    .team-designer {
        gap: 20px;
    }
  
    .team-designer > div {
        width: calc(20% - 20px);
        height: 300px;
    }
    .AboutTheTeam1{
        padding-top: 200px;
        padding-bottom: 200px;
    }
    /*AboutTheteam*/

}