/*Suscription*/  

.Subscriptions {
    text-align: center;
    padding: 20px;
    background-color: #A4B300;
}

.Subscriptions h2{
    color:#f4f4f4;
}

.subscription-cards {
    display: block; /* Cambiamos a bloque para que las tarjetas estén en posición vertical */
    margin-top: 30px;
}
  
.card {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin: 10px 0; /* Cambiamos el margen para dar más espacio vertical entre las tarjetas */
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
  
.card img {
    max-width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
  
.card h2 {
    color: red;
}
  
.card p {
    color: #555;
}
  
.card.premium {
    background-color: #f9e8b2;
}
  
.card.enterprise {
    background-color: #b5e0e8;
}
  
.card:hover {
    transform: translateY(-5px);
}

/*Suscription*/

@media (min-width: 810px) {
    /*Suscription*/

    .Subscriptions{
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .subscription-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        margin-top: 30px;
    }
    
    .card {
        width: calc(33.33% - 20px);
        margin: 10px;
    }

    /*Suscription*/

}

